*
/* {
background-color: aqua;
} */
body {
  padding: 0;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #3f6899;
  background-color: aqua;
}

header {
  background-color: #3f6899;
  
}

h1 {
  padding: 30px;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  color: #ff6e42;
  font-size: 48px;

  text-shadow: 0px 0px 6px rgba(3,251,255,0.6);
}

h2{
  font-size: 30px;
  color: #1669cc;
  text-shadow: 4px 3px 0px #03fbff, 9px 8px 0px rgba(63,104,153,0.3);
}

a {
  color: #ff6e42;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

#main-bio,
#contact-info,
#bio-image {
 float: left;
}

#main-bio {
  width: 80%;
}

#contact-info {
  width: 20%;
}

#bio-image {
  width: 250px;
  height: 250px;
  margin-right: 20px;
}